        <div class="content animate-panel">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="panel rounded shadow" style="background-color:#f1f3f6">
                        <div class="panel-body" style="background-color:#fff">
                            <div class="inner-all">
                                <ul class="list-unstyled">
                                    <li class="text-center">
                                        <img class="img-circle img-bordered-primary" data-no-retina="" src="/images/Luis_Aven.jpg" alt="User Pic" style="width:150px">
                                    </li>
                                    <li class="text-center">
                                        <h4 class="text-capitalize">Luis Aven</h4>
                                        <p class="text-muted text-capitalize">CEO</p>
                                        <p><a href="#" class="btn btn-primary">Connect</a> <a href="/mailbox_compose" class="btn btn-primary">Message</a></p>
                                    </li>
                                    <li>
                                        <div class="btn-group-vertical btn-block">
                                            <a href="#" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                                            <a href="#" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
          <div class="col-lg-6 col-md-6 col-sm-6">
                    
                    <div style="margin-bottom:20px; padding:6px"></div>
                    <div class="profile-cover">
                        <div class="cover rounded no-overflow">
                            <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu" style="background-image: url('/images/header.jpg')">
                                <li class="active"><a href="profile"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Connections </span></a></li>
                            </ul>
                        </div><!-- /.cover -->
                    </div><!-- /.profile-cover -->
                    <div>
                      <div class="panel-body">
                            <textarea class="form-control input-lg no-border" rows="2" placeholder="What's on your idea?..."></textarea>
                            <div class="panel-footer">
                                <button class="btn btn-success pull-right mt-5">POST</button>
                                <ul class="nav nav-pills">
                                    <li><a href="#"><i class="fa fa-user btn btn-primary btn-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-map-marker btn btn-primary btn-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-camera btn btn-primary btn-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-smile-o btn btn-primary btn-circle"></i></a></li>
                                </ul><!-- /.nav nav-pills -->
                            </div><!-- /.panel-footer -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content animate-panel">
            <div class="row">

            </div>
        </div>